.stApp {
    background-color: white;
    color: black;
}

[data-testid="stSidebar"] {
    background-color: #F0F2F6;
}

h1, h2, h3 {
    color: black;
}

.stButton button {

    background: linear-gradient(
        90deg,
        #7B61FF,
        #6249E6
    );

    color: white;

    border: none;

    border-radius: 12px;

    height: 45px;

    width: 100%;

    font-weight: bold;
}

.stChatInput input {

    background-color: white !important;

    color: black !important;

    border-radius: 12px !important;
}